* {
  margin: 0;
  padding: 0;
}

* a {
  color: #094;
}

body {
  width: 800px;
  margin: auto;
}

#header {
  margin: auto;
  position: relative;
}

h1 {
  padding: 20px;
  background-color: #000;
}

h1 a {
  color: #e4007f;
  text-decoration: none;
}

#searchform {
  position: absolute;
  top: 15px;
  right: 5px;
}

#s {
  width: 200px;
}

#grobal-navigator li {
  display: inline;
  padding: 10px 20px;
  background-color: #000;
}

#grobal-navigator li a {
  text-decoration: none;
}

.navigation {
  padding: 10px 0;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

h2 {
  padding: 10px 20px;
  background-color: #000;
}

h2 a {
  color: #094;
  text-decoration: none;
}

.pagetitle {
  font-size: 130%;
  padding: 10px 20px;
  color: #094;
  background-color: #000;
}

.noresult {
  padding: 20px;
}

.postmetadata {
  font-size: 90%;
  padding: 10px;
  background-color: #ccc;
}

.postmetadata a {
  color: #e4007f;
  text-decoration: none;
  padding: 5px;
  background-color: #333;
}

.entry-content {
  padding: 15px;
}

.entry-content img, .entry-content object {
  display: block;
  margin: auto;
  border: 3px solid #666;
}

.entry-content p {
  padding: 5px 0;
}

.entry-content a img {
  border: none;
}

.entry-content pre {
  padding: 20px;
  background-color: #ccc;
  width: 725px;
  overflow-x: scroll;
}

.entry-content ul {
  padding: 10px;
}

.entry-content ul li {
  list-style-position: inside;
}

#respond {
  color: #fff;
  background-color: #000;
  padding: 10px;
}

.commentlist {
  padding: 10px;
}

.commentlist li {
  padding: 5px;
}

.odd {
  background-color: #eee;
}

.even {
  background-color: #ccc;
}

.commentmetadata * {
  vertical-align: middle;
}

.comment p {
  padding: 10px;
}

#footer {
  background-color: #000;
}

#footer p {
  color: #fff;
  padding: 5px 10px;
  text-align: right;
}

#footer p a {
  text-decoration: none;
}

hr {
  display: none;
}

.photo-caption {
  text-align: center;
}

blockquote {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ccc;
}

a.quote {
  display: block;
  text-align: right;
}
